table{
    width:100%;
    border-collapse:collapse;
    margin:20px auto ;
    font-family:Arial,sans-serif;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    height: 50%;
    background-color:rgb(154, 233, 233);
}
thead{
    background-color:rgb(234, 145, 145);
    color:white;
}
th{
   padding:12px 15px;
   text-align:left;
   border-bottom:1px solid ; 
}
tbody tr:nth-child(even){
    background-color: palevioletred;
}
tbody tr:hover{
    background-color:pink;
    cursor:pointer;
}
td{
    padding:10px 15px;
    border-bottom:1px solid  pink;
}
form{
    text-align:center;
    margin-top:20px;
}
h1{
    color:rgb(244, 90, 115);
    margin-bottom:15px;
    text-align: center;

}
button[type="submit"]{
    background-color:blue;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:20px;
    transition:background-color 0.3s ease;
}
button[type="submit"]:hover{
    background-color:palevioletred;
}

body{
    background-color: rgb(220, 81, 104);
}
.conatiner-findall{
    max-width:1000px;
    margin:20px auto;
    padding:25px;
    border:3px solid white;
    border-radius: 8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    margin: 5px auto;
    height: 500px;

}
h2{
    color:black;
    margin-bottom:15px;
    text-align: center;


}