h1{
    text-align: center;
} 
 h1{
    text-align:center;
    margin-bottom:20px;
    font-size:24px;
    color:rgb(244, 90, 115);
}
body{
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,pink 20%,rgb(0,221,255)95%);
}
nav{
    background:linear-gradient(135deg,rgb(200, 57, 81) 40%,rgb(9, 162, 185)95%);
    padding:10px;
    border-radius:8px;
    display:flex;
    justify-content:space-around;
    font-size:20px;

}
nav a{
    color:white;
    text-decoration:none;
    padding:10px;
    transition:background-color 0.3s;
    border: 1px solid #ccc;
    border-radius:8px;
    width:80%;
    text-align: center;;
} 

nav a:hover{
    background-color:rgb(233, 120, 139);
    border-radius:8px;
}
hr{
    border:1px solid #ddd;
}

nav a {
          margin: 0px 20px;
        
        }
        @media (max-width: 768px) {
          nav {
            display: flex;
            flex-direction: column; 
            align-items: center;
          }
          nav a {
            margin: 10px 0px; 
          }
          h1 {
            font-size: 1.5em; 
     }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }



  nav a {
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
    min-width: 100px;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }
}
